.ptos{
    cursor: pointer;
}
.globContent{
    position: relative;
}
.ptos{
    position: absolute;
    top: 0;
    right: 0;
}
.ptos i{
    position: absolute;
    top: 0;
    right: 0;
}
.popUp{
    display: none;
    position: relative;
    top: 30px;
    width: 100%;
    height: 100%;
    font-size: 20px;
    background-color: white;
    border: 1px black solid;
    transition: display 4s;
}
.popUp p{
    margin: 10px 20px;
}
.valido{
    color: green;
}
.erroneo{
    color: red;
}