::-webkit-scrollbar {
    background-color: lightgrey;
    width: 7px;
  }
::-webkit-scrollbar-thumb {
    background: #858585;
    border-radius: 5px;
}

body {
    background-color: #f8efe9;
    margin: 0%;
}

/* inicio del nav */
nav {
    background-color: #e9dc87;
}

ul {
    padding: 0%;
    margin-top: 0%;
}

#list-nav {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 25px;
}

.admin-btn{
    margin-left: 15px;
}

li {
    margin: 1% 2%;
}

#home-search {
    display: flex;
    align-items: center;
}

a {
    color: black;
}

#nav-search {
    margin-left: 30px;
}

/* fin del nav */
/* inicio del comentario */
a {
    color: inherit;
    text-decoration: none;
}

.globo {
    /* margin-left: 20%;
    margin-right: 20%;
    margin-top: 2%; */
    margin: 1% auto;
    width:60%;
    border-radius: 5px;
    background-color: white;
}

.globContent {
    display: flex;
    justify-content: space-between;
    font-size: 25px;
}

.fot-txt {
    display: flex;
    justify-content: space-between;
    margin-left: 2%;
    margin-top: 1%;
}

.fot-txt img {
    width: 76px;
    height: 76px;
    border-radius: 38px;
}

.nom {
    font-size: 17px;
}

.txt {
    display: flex;
    align-items: center;
    margin-top: 15px;
    font-size: 20px;
}

.fot-txt div:last-child {
    margin-left: 3%;
    margin-top: 5px;
    font-size: 25px;
    margin-right: 50px;
}

.ptos {
    cursor: pointer;
    margin-right: 2%;
    margin-top: 2%;
    vertical-align: top;
    font-size: 30px;
    position: absolute;
    top: 0;
    right: 0;
}

.ptos i{
    position: absolute;
    top: 0;
    right: 0;
}

/* fin del comentario */
/* inicio del contacto */
#warning {
    display: flex;
    align-items: center;
    justify-content:center;
    width:50%;
    margin:0 auto;
}

#icon-warning {
    font-size: 200px;
    color: #ff9933;
}

#txt-warning {
    margin-left: 10%;
}

#form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 25%;
    margin-right: 25%;
}

#form form {
    width: -webkit-fill-available;
    margin-left: 30%;
}

#fusr,#femail {
    width: 50%;
    height: 25px;
}

#benv {
    float: right;
    margin-right: 4%;
}

/* fin del contacto */
/* inicio del login */
/* #logo-login{border: #e6e6e6 5px solid;border-radius: 5px;padding-top: 20px;padding-right: 30px;padding-left: 30px;background-color: #e6e6e6;} */
#logo-login {
    width: 130px;
    margin: 0 auto;
}

#login-form{
    padding-top: 5vh;
    width: 28vw;
    background: linear-gradient(45deg, red, orange, yellow, green);
    background-size: 400% 400%;
    position: relative;
    animation: cambiar 20s ease-in-out infinite;
}

#login-form form {
    display: flex;
    align-items: center;
    justify-content: center;
}

#body-login {
    padding: 0%;
    margin: 0%;
    width: 100%;
}

#body-login main{
    padding: 0%;
    margin: 0%;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes cambiar {
    0% {
        background-position: 0 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0 50%;
    }
}

#register-form, #login-form {
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}

#register-form p:first-child,
#login-form p:first-child {
    font-size: 35px;
}

#register-form form,
#login-form form {
    width: 500px;
    ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    margin: 0 auto;
    margin-top: 20px;
}

#register-form input,
#login-form input {
    padding: 15px;
    background-color: #f8efe9;
    border: none;
    font-size: 20px;
    color: gray;
    width: 300px;
    border-radius: 5px;
}

#register-form input[type="submit"],
#login-form input[type="submit"] {
    color: black;
    cursor: pointer;
}

#login-form form input::placeholder {
    color: gray;
}

.enlace-usuario:hover {
    border-bottom: 2px black solid;
}

.terms {
    display: flex;
    justify-content: center;
    align-items: center;
}
#alertPasswd{
    margin: 10px;
}
/* fin del login */
/* inicio de la pagina user */
#top-usr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 5%;
}

#bot-seguir{
    margin-left: 1vw;
    padding: 2%;
    background-color: white;
    color: blue;
    border-radius: 5px;
}

#grupo1{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#fot-usr {
    height: 86px;
    width: 86px;
    border-radius: 43px;
}

#nom-usr {
    margin-left: 7%;
}

#contador{
    width: 15%;
}

#contador div{
    padding: 1%;
    background-color: white;
    border-radius: 5px;
}

#contador div p{
    margin: 0;
    padding-left: 8%;
    display: inline-block;
}


#contador div:last-child{
    margin-top: 1vw;
}

.globo-usr {
    margin-top: 2%;
    border-radius: 5px;
    background-color: white;
}

/* fin de la pagina user */
/*inicio búsqueda*/
#form-search {
    display: flex;
    justify-content: center;
    align-items: center;
}

#form-search form label {
    position: relative;
    display: block;
    width: 400px;
    height: 30px;
}

#form-search form input {
    position: absolute;
    border: none;
    width: 100%;
    height: 30px;
    margin: 0 auto;
    border: none;
    border-radius: 20px;
}
#form-search form input:focus{
    outline: none;
}

#form-search form button {
    background-color: #9c935a;
    position: absolute;
    left: 86%;
    width: 60px;
    height: 105%;
    border-radius: 20px;
    border: none;
}

input[placeholder*=Buscar] {
    background-color: #e9dc87;
    /* padding: 5px 0 5px 10px; */
    margin-left: 10px;
}

/*fin busqueda*/
/*añadir tweet*/
#plus {
    position: fixed;
    width: 60px;
    right: 20px;
    bottom: 20px;
    z-index: 5;
}

#plus img {
    width: 100%;
    max-width: 100%;
}

/*fin añadir tweet*/
/*tabla admin*/
td:nth-child(even), th:nth-child(even) {
    background-color: #a5a5a59f;
}

th, td{
    border-bottom: 1px black solid;
}

td{
    text-align: center;
}

.admin-btn{
    margin-left: 15px;
}

#admin-table{
    display: flex;
    justify-content: center;
    align-items: center;
}

#admin-table table{
    width: 80vw;
    border-collapse: collapse;
}

.action-btn{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.action-btn div{
    padding: 5%;
    margin: 1%;
    background-color: black;
    color: white;
    transition: 0.5s;
    border-radius: 8px;
}

.action-btn div:hover{
    background-color: lightcoral;
    color: red;
}
/*fin admin*/


/* incio upload */
.principal {
    margin-left: 20vw;
    width: 60vw;
}

#contenidoTweet button{
    position: absolute;
    right: 17vw;
    border: 1px solid black;
    height: 3vh;
    border-radius: 10px;
    margin-top: 2%;
}

#contenidoTweet textarea{
    width: 100%;
    height: 50vh;
    border: 1px solid black;
    border-radius: 5px;
    padding: 3%;
    resize: none;
}

.principal form input::placeholder{
    padding-left: 2%;
}
/* fin upload */
/*popUp seguir usuario*/
.globContent{
    position: relative;
}
.popUp{
    display: none;
    position: relative;
    top: 30px;
    width: 100%;
    height: 100%;
    font-size: 20px;
    background-color: white;
    border: 1px black solid;
    transition: display 4s;
}
.popUp p{
    margin: 10px 20px;
}
.valido{
    color: green;
}
.erroneo{
    color: red;
}
/*fin popUp seguir usuario*/